<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>测试</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div class="content">

    <div class="logoutBtn layui-btn-group">
        <button type="button" class="layui-btn layui-btn-sm"
                style="background:#393D49"
                onclick="collapseAll()">
            <i class="layui-icon">&#xe691;</i>
        </button>
        <a href="/logout">
            <button type="submit"
                    class="layui-btn layui-btn-danger layui-btn-sm"
            >logout
            </button>
        </a>
    </div>

    <div class="fixedDiv layui-btn-container">

    </div>

    <!--  add  -->
    <form class="layui-form" action="#"
          method="post" enctype="multipart/form-data"
          th:action="@{/opt/upload}">
        <div class="layui-form-item">
            <div class="layui-inline formLine">
                <!--                company name-->
                <div class="layui-input-inline" style="width: 200px;">
                    <input required lay-verify="required"
                           name="cni"
                           type="text" placeholder="company name" autocomplete="off"
                           class="layui-input">
                </div>
                <!--                project name-->
                <div class="layui-input-inline" style="width: 200px;">
                    <input required lay-verify="required"
                           name="pni"
                           type="text" placeholder="project name" autocomplete="off"
                           class="layui-input">
                </div>
                <!--            device version-->
                <div class="layui-input-inline" style="width: 200px;">
                    <input lay-verify="required"
                           name="dvi"
                           type="text" placeholder="device version" autocomplete="off" class="layui-input">
                </div>
                <!--             remote version-->
                <div class="layui-input-inline" style="width: 200px;">
                    <input
                           name="vi"
                           type="text" placeholder="remote version" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="flex-grow:1;">
                    <input
                            style="width:100%;"
                             name="file" type="file"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item submitDiv">
                <button type="submit" style="font-size:14px;font-weight:bolder;"
                        class="layui-btn layui-btn-sm">Upload
                </button>
            </div>
        </div>
    </form>

    <!--  desc  -->
    <div style="margin:10px 0;cursor:pointer;">
        <span th:text="${'used : '+diskInfo.used+' MB'}"></span>
        <span th:text="${'total : '+diskInfo.total+' MB'}"
              style="margin-left:20px;"></span>
    </div>

    <!--  bar  -->
    <div style="margin:10px 0;">
        <div class="barBack">
            <div class="bar" th:style="'width: '+${diskInfo.usedRate}+'%;'"></div>
        </div>
    </div>

    <!--    main     -->
    <div class="layui-collapse">
        <div th:id="${companyItem.name}"
             class="layui-colla-item companyBlock "
             th:each="companyItem: ${companyBeans}">
            <div class="companyNameDiv layui-colla-title">
                    <span class="companyNameSpan"
                          th:text="${companyItem.name}"></span>
                <i style="cursor: pointer;color:#FF5722;font-size:18px;"
                   th:data-companyName="${companyItem.name}"
                   onclick="delCompany(event, this.getAttribute('data-companyName'))"
                   class="layui-icon layui-icon-close-fill "></i>
            </div>

            <div class="layui-colla-content layui-show">
                <span th:if="${companyItemStat.size}==0"> : no record</span>
                <div th:id="${companyItem.name+ '_' + projItem.name}"
                     th:if="${companyItemStat.size}!=0"
                     style="margin-left:20px;" th:each="projItem: ${companyItem.projBeans}">
                    <div th:text="${projItem.name}" title="project name" style="cursor:pointer;"
                         class="projNameSpan"></div>

                    <div th:id="${companyItem.name+ '_' + projItem.name+ '_' + device.version}"
                         style="margin-left:30px;" th:each="device: ${projItem.devices}">
                        [device version : <span th:text="${device.version}"></span>]
                        [remote version : <span th:text="${device.remoteVersion}"></span>]
                        [download : <a th:href="${device.location}"
                                       th:text="${device.location}"></a>]
                        [<a test-active="confirm"
                            style="cursor:pointer;"
                            th:data-projectName="${projItem.name}"
                            th:data-companyName="${companyItem.name}"
                            th:data-deviceVersion="${device.version}"
                    >delete</a>]
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<script src="layui/layui.js"></script>
<script th:src="@{/common/axios.min.js}"></script>

<script src="/js/index.js"></script>
</body>
</html>
